* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Petits appareils (mobiles en portrait) */
@media only screen and (max-width: 480px) {}

/*Appareils mobiles (petit à moyen) +   Appareils mobiles (petit à moyen)*/
@media only screen and (max-width: 767px) {

    #img-header {
        display: none;
    }

    .w-50 {
        width: 100%;
        text-align: center;
    }
}

/* Appareils mobiles (petit à moyen) */
@media only screen and (min-width: 481px) and (max-width: 767px) {}

/*Tablettes*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {}



/*Ordinateurs portables / Écrans moyens*/
@media only screen and (min-width: 1025px) and (max-width: 1200px) {}

/*Grands écrans*/
@media only screen and (min-width: 1201px) {}


.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.flex-column {
    flex-direction: column;
}

.p-20 {
    padding: 20px;
}

.p-50 {
    padding: 50px;
}

.m-20 {
    margin: 20px;
}

nav ul li {
    padding: 20px;
}

.bold {
    font-weight: bold;
    /*mettre le texte en gras*/
}

/*
.Image-Fond{
    background:url();
}
*/

.border-radius {
    border-radius: 30px;
}

.w-70 {
    width: 70%;
}

.w-30 {
    width: 30%;
}

.bg-grey-circle {
    background-color: #262626;
    border-radius: 80px;
}

.border {
    border: 4px solid white;
    border-radius: 30px;
}

.text-align-center {
    text-align: center;
    /* aligner le texte au centre*/
}

.color-white {
    color: white;
}

.bande {
    width: initial;
    /*pour que la bande fasse la largeur de la page*/
    height: 250px;
    /* hauteur de la bande */
    background-image: url(Img/BG/menu.PNG);
    border: 1px solid rgba(23, 23, 23, 0.995);
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

header {
    /*Crée un background pour démarqué le Header du reste de la page */
    background-image: url(Img/BG/contenu.png);
    width: initial;
    /*pour que la bande fasse la largeur de la page*/
    height: 60px;
    /* hauteur de la bande */
    border: 1px solid rgba(23, 23, 23, 0.995);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    background-image: url(Img/BG/contenu.png);
    width: initial;
    /*pour que la bande fasse la largeur de la page*/
    height: 230px;
    /* hauteur de la bande */
    border: 1px solid rgba(23, 23, 23, 0.995);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#logo-osu {
    width: 15%;
}

h1 {
    font-size: xx-large;
}

.row-reverse {
    flex-direction: row-reverse;
}

body {
    background-color: grey;
}

#logo-standard {
    width: 100%;
}

#logo-mania {
    width: 100%;
}

#logo-engrenage {
    width: 100%;
}

#universel {
    width: 20%;

}

#mode-mania {
    width: 20%;

}

#mode-standard {
    width: 20%;
}

.color-grey {
    color: #262626;
}

.color-grey-2 {
    color: #404040;
}

span {
    font-weight: bold;
    font-size: xx-large;

}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}

#cercle{
    width: 10%;
}

#slider{
    width: 40%;
}

#image{
    width: 40%;
    
}
.gap-40{
    gap: 40px;
}
.gap-20{
    gap: 20px;
}

.align-self-center{
    align-self: center;
}

.font-size-x-large{
    font-size: large;
}

.color-white-grey{
    color: rgb(165, 165, 165);
}

#en-grand{
    font-size: 90px;
}

#note-longue{
    width: 10%;
}
#note-courte{
    width: 10%;
    height: 10%;
}


table, th, td { 
    border: 1px solid black; }
