* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Petits appareils (mobiles en portrait) */
@media only screen and (max-width: 480px) {}

/*Appareils mobiles (petit à moyen) +   Appareils mobiles (petit à moyen)*/
@media only screen and (max-width: 767px) {

    #img-header {
        display: none;
    }

    .w-50 {
        width: 100%;
        text-align: center;
    }
}

/* Appareils mobiles (petit à moyen) */
@media only screen and (min-width: 481px) and (max-width: 767px) {}

/*Tablettes*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {}



    /*Ordinateurs portables / Écrans moyens*/
    @media only screen and (min-width: 1025px) and (max-width: 1200px) {}

    /*Grands écrans*/
    @media only screen and (min-width: 1201px) {}

